body {
    background-color: antiquewhite;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.item {
    border: 1px solid #000;
    padding: 5px
}

.header {
    background-color: red;
}

.kwh {
    background-color: green;
}

.weer {
    background-color: orange;
}